.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.tooltips {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

@media (max-width: 806px) {
    .tooltips {
        overflow: auto;
    }
}
@media (max-width: 506px) {
    .tooltips {
        gap: 0.5rem;
    }
    .wrapper {
        gap: 0.5rem;
    }
}
