.wrapper {
    width: 100%;
    height: 100%;
    margin: 1.5rem 0;
    overflow-y: auto;
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Chrome, Edge and Safari */
.wrapper::-webkit-scrollbar {
    width: 0.5rem;
}
.wrapper::-webkit-scrollbar-track {
    border-radius: 12px;
    background-color: var(--background-secondary);
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: var(--border-color);
}
.wrapper::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}
.wrapper::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}
