.wrapper {
    position: relative;
}
.wrapper > textarea {
    width: 100%;
    /*max-width: 100%;*/
    min-width: 800px;
    padding: 1.25rem 3rem 1.25rem 1.5rem;

    border: 1px solid var(--background-secondary);
    border-radius: var(--border-radius);
    background: inherit;
    max-height: 64px;

    font-size: 16px;
    color: var(--text);
    font-family: inherit;
    letter-spacing: 0.15px;

    outline: none;
    resize: none;
    transition: var(--transition);
}
.wrapper > textarea::-webkit-scrollbar {
    opacity: 0;
}
.wrapper > textarea::placeholder {
    color: var(--text-secondary);
}
.wrapper > textarea:hover {
    border-color: var(--border-color);
}
.wrapper > textarea:focus {
    border-color: var(--border-color);
}
.wrapper > button {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px !important;
    height: 42px !important;
    min-width: 0;
    padding: 0.5rem;
}
