.wrapper {
    position: relative;
}
.wrapper > textarea {
    width: 100%;
    padding: 1.25rem 3rem 1.25rem 1.5rem;

    border: 1px solid var(--background-secondary);
    border-radius: var(--border-radius);
    background: inherit;
    max-height: 64px;

    font-size: 16px;
    color: var(--text);
    font-family: inherit;
    letter-spacing: 0.15px;

    outline: none;
    resize: none;
    transition: var(--transition);
}
.wrapper > textarea::-webkit-scrollbar {
    opacity: 0;
}
.wrapper > textarea::placeholder {
    color: var(--text-secondary);
}
.wrapper > textarea:hover {
    border-color: var(--border-color);
}
.wrapper > textarea:focus {
    border-color: var(--border-color);
}
.wrapper > button {
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px !important;
    height: 42px !important;
    min-width: 0;
    padding: 0.5rem;
}

@media (max-width: 806px) {
    .wrapper > textarea {
        min-width: 100%;
        font-size: 16px;
    }
}
@media (max-width: 506px) {
    .wrapper > textarea {
        font-size: 14px;
        max-height: 48px;
        padding: 0.87rem 2rem 0.87rem 1rem;
    }

    .wrapper > button {
        border-radius: 8px;
        width: 32px !important;
        height: 32px !important;
        right: 0.5rem;
        top: 0.5rem;
    }
}
