:root {
    --primary: #5661f6;
    --background: #171717;
    --background-secondary: #2e2e2e;
    --border-color: #4c4c4c;
    --border-radius: 12px;
    --text: #ffffff;
    --text-secondary: #c2c2c2;
    --transition: 0.15s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: var(--background);
}
body {
    font-size: 16px;
}
