.wrapper {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 0.5rem;
}
.message {
    max-width: 50%;
    min-height: 32px;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary);

    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
}
