.chat {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: visible 0.25s;
}

/*header*/
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

@keyframes visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
